/*Main Screen*/

GridPane{
-fx-padding: 4em;
}

Button{
-fx-font-size: 1em;
}

.Heading{
  -fx-font-size: 1.4em;
  -fx-font-weight:bold;
  -fx-padding:1.2em 0;
}

.Table_Container{
  -fx-border-color: black;
  -fx-padding: 2em;
  -fx-border-radius: 2em;
}

.Table_Headers{
  -fx-font-weight:bold;

}

.MainGroupBtns{
-fx-padding: 1em 0;

}

.MainTable_Header{
-fx-padding: 1em 0;
}


/*Add Part Form*/

.AddPartFormHeader{
-fx-padding:2em 0;
}

.AddPartForm{

-fx-padding:3em 0 ;
}


.AddPartFormField Label{
-fx-padding: 0em 5em 2em 0;

}


#fieldMinimum{
-fx-padding:0 2em 0 2em;

}

#IdField{
-fx-fill-height:3em;
}

.Errors{
-fx-font-size: 1.2em;
-fx-fill: #df2935;

}